
*.bm
*.bm.sym
*.asm
*.o
*.pp
*.exe
*.ilk
*.obj
*.pdb

bme
basm
debasm
basm2amd64
xxd
/examples/*bm.sym
/bdb
playground/

notes.md

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
